@model FriendsGoals.AppUser

@{
    ViewBag.Title = CurrentUser.GivenName + " " + CurrentUser.Surname;
}

@{
//model surname doesnt work
}
<div class="full-name text-info"><p>@CurrentUser.GivenName @CurrentUser.Surname</p></div>
<div class="user-info-block">
    <div class="user-image user-info-part">
            <dt>
                Avatar
            </dt>
            <dd>
            </dd>
    </div>
    <div class="user-info user-info-part">
        <p>Phone: @CurrentUser.Phone</p>
        <p>Sex: @CurrentUser.Sex</p>
    </div>
</div>
<h2>Hello, @CurrentUser.GivenName, it is a prototype of your own page!</h2>

