@model FriendsGoals.AppUser

@{
    ViewBag.Title = Model.Name + " " + Model.UserSurname;
}

@{
//model surname doesnt work
}
<div class="full-name text-info">
    <p>@Model.Name @Model.UserSurname</p>

</div>
<div class="user-info-block">
    <div class="user-image user-info-part">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" width="200" height="200" />
        }
    </div>
    <div class="user-info user-info-part">
        <p>Phone: @Model.Phone</p>
        <p>Sex: @(Model.Sex ? "Male" : "Female")</p>
        @Html.ActionLink("Friends", "Friends", "Page", null, new { @class = "btnSide" })
        <p>Followers: @Model.Followers.Count</p>
    </div>
</div>
@{
    if (Model.Followers.FirstOrDefault(x => x.UserName == CurrentUser.Name) != null)
    {
        @Html.ActionLink("Cancel request", "MyFriends", "Page", new { pressedElement = "elem3" }, new { @class = "btnAddFriend" })
    }
    else if (Model.Following.FirstOrDefault(x => x.UserName == CurrentUser.Name) != null)
    {
        @Html.ActionLink("Accept request", "MyFriends", "Page", new { pressedElement = "elem2" }, new { @class = "btnAddFriend" })
    }
    else if (Model.Friends.FirstOrDefault(x => x.UserName == CurrentUser.Name) != null)
    {
        <p class="friends-msg">You are friends</p>
    }
    else
    {
        @Html.ActionLink("Request friendship", "FriendshipRequest", "Page", new { id = Model.Id }, new { @class = "btnAddFriend" })
    }
}
